<style>
  span.name, span.link {display: block;}
  span.name { font-size: 16px; }
  span.link a { font-size: 16px; color: #8970F4 !important; }
  span.link a i { margin-left: 5px; }
  .store { margin-top: 20px;  }
</style>
<div class="dark contact">
<h1>Contact Info</h1>
<strong><a href="tel:18556229100">1-855-622-9100</a></strong><br /><br />

Symbolic Muscle LLC<br>
8850 Business Park Dr<br>
Suite 100<br>
Austin, Texas 78759<br style="clear:both;" />
</div>
