<div class="block1 landingBlock">
  {% section "block1" %}
</div>
<div class="block2 landingBlock">
  {% section "block2" %}
</div>
<div class="block3 landingBlock">
  {% section "block3" %}
</div>
<div class="block4 landingBlock">
  {% section "block4" %}
</div>
<div class="block5 landingBlock">
  {% section "block5" %}
</div>
<div class="block6 landingBlock">
  {% section "block6" %}
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
  	jQuery('body').addClass('landing');
  });
</script>